{% extends 'base.html' %}

{% block content %}
    <div id="center_column">
        <b>ДАВАЙТЕ ЧИТАТЬ И ОБМЕНИВАТЬСЯ КНИГАМИ! :)</b><br>
        Наш сервис позволяет найти друг друга людям, которые ищут книги и которые готовы поделиться своими книгами.
        На сайте вы можете найти ближайшую к вам <u><b>домашнюю библиотеку</b></u> и брать там книги напрокат, а можете найти редкую книгу,
        которой давно нет в продаже, но которой готов поделиться единственный книжный коллекционер.
        Зарегистрировавшись у нас на сайте, вы можете как предоставлять свои книги, так и искать их по названию,
        выбирая наиболее удобное месторасположение домашней библиотеки на карте.
    </div>
{% endblock %}
